/*
To c2ange this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 9 avr. 2015, 16:45:10
    Author     : florian
*/
html{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(245,245,245);
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}
div{
    border-radius: 3px;
}
.container{
    min-width: 800px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -10px;
    padding: 0;
  
}

.header{
    line-height:100px;
    min-height: 100px;
    max-height: 100px;
}
.footer{
    padding: 0;
    min-height: 20px;
    max-height: 20px;
    line-height: 20px;
    background-color: #0170BA;
    color:white;
    font-size: 80%;
    margin-top: -6px;
    margin-bottom: 5px;
}

.footer li{
    display: block;
}
.footer li:nth-child(1){
    float:left;
    margin-left:0px;
}
.footer li:nth-child(2){
    float:right;
    margin-right: 50px;
}

#logo{
    width:20%;
    height:20%;
}

#slogan{
    float:right;
    font-size: 170%;
    font-style: italic;
    margin-left: 0px;
    color:#0170BA;
    vertical-align:middle;
}

.nav ul{
    margin-left: -25px;
    overflow: hidden;
}
.nav li:nth-child(1) {
    color:white;
    width: 25px;

}
.nav li:nth-child(2) a{
    border-left: solid 1px white;
}
.nav {
    height: 30px;
    background-color: #DD4814;
    margin-top: -15px;
}
.nav li{
    display : table-cell;
}
.nav a{
    text-decoration: none;
    line-height:30px;
    color:white;
    min-width:120px;
    max-width:120px;
    text-align: center;
    display: block;
    border-right: solid white 1px;
    height:30px;
    font-size: 85%;
}
.nav a:hover{
    background-color: #FA5519;
    transition: 1s;
}

.content-left{
    margin-bottom: 5px;
    margin-top: 5px;
    background-color: white;
    border: solid 1px rgb(200,200,200);
    padding: 10px;
    padding-top:0px; 
    max-width: 250px;
    min-width: 250px;
    float: left;
}
.content{
    margin-bottom: 5px;
    margin-top: 5px;
    background-color: white;
    border: solid 1px rgb(200,200,200);
    padding: 10px;
    padding-top:0px; 
    max-width: 499px;
    min-width: 499px;
    margin-left: 279px;
    min-height: 450px;
}

.content h2, .content h3{
    color:#0170BA;   
    text-align: center;
    font-weight:normal;
}
.content h3{
    border-bottom: solid 1px;
}

hr{
    display: block; height: 1px;
    border: 0; border-top: 1px solid rgb(200,200,200);
    padding: 0;
    margin-left: -10px;
    margin-right: -10px;
}

.content p{
    font-size: 90%;
}
b{
   color: #DD4814;
}
.imgLeft{
    float:left;
    width:120px;
    height:120px;
    margin-left: 90px;
}
.content-left h3{
    color:#0170BA;
    font-weight:normal;
    text-align: center;
}
.content-left p{
    text-align: center;
    margin-top: -5px !important;
}
input{
    color:#0170BA;
}
input[type="submit"]{
  background-color:  #DD4814; 
  color:white;
  border:none;
  min-width:100px;
  height: 35px;
  font-size: 90%;
  border-radius: 3px;
  
}
input[type="submit"]:hover{
  background-color: #FA5519;
  transition: 1s;

}
.hideShowButton{
  background-color:#0170BA; 
  color:white;
  border:none;
  font-size: 90%;
  border-radius: 3px;  
}
.hideShowButton:hover{
  background-color: rgba(1,112,186,0.75);
  transition: 1s;

}
table {
    border-color:#0170BA;
    border-collapse:collapse;
    width: 100%;
    text-align: center;
  
 }
td,th { 
    font-weight: normal;
 }
 tr:hover , tr:nth-child(2n):hover{
     background-color: rgba(1,112,186,0.2);
 }
 tr:nth-child(2n){
     background-color: rgba(1,112,186,0.05);
 }
 th, tfoot td{
     background-color:#0170BA;
     color:white;
 }
 td > a{
    color: white; 
    text-decoration: none;
 }

 #msgConnexion, #msgApresConnexion{
     color:#0170BA;
     text-align: center;
     padding-top: 10px;
 }
 #msgInscription{
     color:#0170BA;
     text-align: center;
 }
 .formCentre{
     text-align: center;
 }
